/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: lighten(#0c5970, 8%);
$background-color: lighten(yellow, 70%);
$font-family: dynamic(arial);